* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Open Sans", sans-serif;
}

/* resets */

img {
  width: 100%;
}

/* colors */

.background-default {
  background-color: #f5f4f0;
}

.border-primary {
  background-color: #d9d9d9;
}

.text-primary {
  color: #1b1b1b;
}

.text-secondary {
  color: #333333;
}

.text-tertiary {
  color: #696969;
}

.text-headline {
  color: #e1624f;
}

.accent-blue {
  color: #0c51a7;
}

.accent-orange {
  color: #e95e10;
}

.accent-pink {
  color: #e5245e;
}

.accent-purple {
  color: #591b98;
}

/* typography */

.h1 {
  font-weight: 700;
  font-size: 2.25rem;
}

.h2 {
  font-weight: 700;
  font-size: 2rem;
}

.h3 {
  font-weight: 700;
  font-size: 1.75rem;
}

.headline {
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
}

.paragraph {
  font-weight: 400;
  font-size: 1rem;
}

.subtitle {
  font-weight: 400;
  font-size: 1rem;
  font-style: italic;
}

/* components */

/* components: container */

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 88px 80px 0 80px;
}

/* components: title-page */

.title-page {
  padding: 0 0 40px 0;
}

.title-page__headline {
  padding: 0 0 8px 0;
}

/* components: description-image */

.description-image {
  padding: 0 0 40px 0;
}

.description-image__image {
  border-radius: 28px;
}

.description-image__description {
  padding: 24px 0 0 0;
  text-align: center;
}

/* components: divisor */

.divisor {
  height: 1px;
  width: 100%;
}

/* components: content-list */

.content-list {
  padding: 64px 0 0 0;
}

.content-list > .card-travel:not(:last-child) {
  padding: 0 0 48px 0;
}

.content-list__description {
  padding: 0 0 64px 0;
}

.content-list__divisor {
  margin: 40px 0 0 0;
}

/* components: title-list */

.title-list__title {
  padding: 0 0 8px 0;
}

/* components: card-travel */

.card-travel__image {
  border-radius: 28px;
  height: 375px;
  object-fit: cover;
}

/* components: content-card */

.content-card {
  padding: 20px 0 0 0;
}

.content-card__suggestion {
  padding: 16px 0 0 0;
  display: block;
  font-weight: 700;
}

.content-card__list {
  padding: 0 0 0 20px;
}

/* components: description */

.description {
  text-align: center;
  padding: 40px 0 0 0;
}

/* components: footer */

.footer {
  padding: 65px 0 48px 0;
  text-align: center;
}

.footer__paragraph {
  font-family: "Alice", serif;
}

.footer__image {
  vertical-align: middle;
  width: 1rem;
  height: 1rem;
}
